$root-font-size: 16px;

/**
 * Colors
 */
// colors
$color-black: #000000;
$color-white: #ffffff;

// branding
$color-primary: #222eed;

// defaults
$color-text-body: #242424;

/**
 * Screen Sizes
 */
$screen: (
  min: 320px,
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
  fhd: 1920px,
);

/**
 * Containers
 */
$default-container-width: map-get(
  $map: $screen,
  $key: lg,
);
$default-container-gutter: 20px;
